*

!README.md
!.bashrc
!.bash_aliases
!.wezterm.lua
!.Xdefaults
!.gitconfig
!.gitignore

!.config
.config/*
!.config/bspwm
!.config/bspwm/bspwmrc
!.config/sxhkd
!.config/sxhkd/sxhkdrc
!.config/powershell
!.config/powershell/Microsoft.PowerShell_profile.ps1
!win_setup.ps1
!.config/picom.conf
!.config/z.sh
!.config/hypr
!.config/hypr/*
!.config/kitty
!.config/kitty/*

!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/templates
!.config/nvim/templates/powershell
!.config/nvim/templates/yaml
!.config/nvim/templates/powershell/*
!.config/nvim/templates/yaml/*

!.ssh/
!.ssh/config
!.ssh/void_bear.key.pub

